SERVER_PORT=8081
DOCKER_PORT=8082

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=banka
DB_USER=postgres
DB_PASSWORD=postgres

# Security
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties

#Rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit