# Server
ACCOUNT_SERVER_PORT=8084

# Database
ACCOUNT_DB_HOST=localhost
ACCOUNT_DB_PORT=5436
ACCOUNT_DB_INTERNAL_PORT=5432
ACCOUNT_DB_EXTERNAL_PORT=5436
ACCOUNT_DB_NAME=accountdb
ACCOUNT_DB_USER=postgres
ACCOUNT_DB_PASSWORD=postgres

# JWT (must match secret used by other services)
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties

# User/Client service URL (used to validate users)
SERVICES_USER_URL=http://localhost
CLIENT_SERVER_PORT=8083

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Notification queue
NOTIFICATION_QUEUE=notification-service-queue
NOTIFICATION_EXCHANGE=employee.events
NOTIFICATION_ROUTING_KEY=employee.#
