# =========================
# Server / Docker Config
# =========================
API_GATEWAY_PORT=80
SERVER_PORT=8081 # Rename to USER_SERVICE_PORT?

# =========================
# Database Config (Postgres)
# =========================
# For user-service
DB_HOST=postgres_user
DB_PORT=5433
USER_EX_PORT=5433
DB_NAME=banka
DB_USER=postgres
DB_PASSWORD=postgres

# For notification-service
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres_notification
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# =========================
# RabbitMQ Config
# =========================
# Common settings
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_LISTENER_ENABLED=true

# =========================
# Notification Service
# =========================
NOTIFICATION_SERVICE_HOST=0.0.0.0
NOTIFICATION_SERVICE_PORT=8006
NOTIFICATION_EXCHANGE=employee.events
NOTIFICATION_QUEUE=notification-service-queue
NOTIFICATION_ROUTING_KEY=employee.#

NOTIFICATION_RETRY_MAX_RETRIES=4
NOTIFICATION_RETRY_DELAY_SECONDS=5
NOTIFICATION_RETRY_SCHEDULER_DELAY_MILLIS=1000

# =========================
# Security
# =========================
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties

# =========================
# Mail / SMTP Config
# =========================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email.emailic2203@gmail.com
MAIL_PASSWORD=pass
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

# =========================
# Logging
# =========================
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO